<div layout="row" layout-align="center center">
    <md-input-container>
        <label>Search Job</label>
        <input type="text" name="searchBox" ng-model="searchText" class="md-block">
    </md-input-container>
    <md-button class="md-raised md-primary" ng-click="searchJob()">search</md-button>
</div>
<div class="md-padding md-display-2" layout layout-align="center center">
    <span>{{message}}</span>
</div>
<div layout-gt-sm="row" layout-sm="column" layout-wrap class="md-padding" layout-align="center center">
    <div ng-repeat="job in jobs | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage" class="md-padding" flex-gt-sm="50" flex-sm="100">
        <job-card data='{"jobID":job.jobID,"employerID":job.employer.employerID}'>
            <md-menu>
                <md-button aria-label="open" class="md-icon-button" ng-click=openMenu($mdOpenMenu,$event)>
                    <md-icon class="material-icons">more horiz</md-icon>
                </md-button>
                <md-menu-content width="4">
                    </menu-content>
                    <md-menu-item>
                        <md-button ui-sref="index.jobProfileView({jobID:'{{job.jobID}}',employerID:'{{job.employer.employerID}}'})">
                            View profile
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button>
                            Verify profile
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button>
                            Show Similar profiles
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button>
                            Add to Circles
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </job-card>
    </div>
    <!-- <div ui-view="results"></div>
 -->
</div>
<div layout class="md-padding" flex>
    <div layout layout-align="start start" flex="50">
        <md-button class="md-raised md-primary" ng-click="pagination.prevPage()" ng-hide="pagination.page == 0">Previous</md-button>
    </div>
    <div layout layout-align="end end" flex="50">
        <md-button class="md-raised md-primary" ng-click="pagination.nextPage()" ng-hide="pagination.page + 1 >= pagination.numPages">Next</md-button>
    </div>
</div>
