<md-dialog>
    <form name="addCertification">
        <md-dialog-content>
            <div layout="column">
                <md-input-container>
                    <input ng-model="newCertificationName" name="certificationName" required placeholder="Certification name">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-primary" ng-click='addNew()' ng-disabled="addCertification.$invalid || addCertification.$pristine">Add</md-button>
            <md-button class="md-primary" ng-click="cancel()">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
