<div layout-gt-sm="row" layout-sm="column" layout-wrap class="md-padding">
    <div ng-repeat="x in results"  flex-gt-sm="33" flex-sm="100">
        <my-skillcard  candidateid="x.candidateid">
            <badges>
                <verification-badge candidateid="x.candidateid">
                </verification-badge>
            </badges>
            <cardactions>
                <md-menu>
                    <md-button aria-label="open" class="md-icon-button" ng-click=openMenu($mdOpenMenu,$event)>
                        <md-icon class="material-icons">more horiz</md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ui-sref="verifyprofile({candidateid:x.candidateid})">
                                View profile
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button>
                                Show Similar profiles
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </cardactions>
        </my-skillcard>
    </div>
</div>