<div ng-controller="HomeCtrl">
    <my-skillcard flex-xs="100" flex-gt-xs="100" ng-repeat="x in obj">
        <div ng-if="id==x.id">
            <p>
                <div ng-if="name==4">
                    <span>
        Ratings:
            {{name}}/4
            </span>
                    <md-icon class="material-icons">verified_user</md-icon>
                </div>
                <div ng-if="name<4&&name>0">
                    <span>
        Ratings:
            {{name}}/4
            </span>
                    <md-icon class="material-icons">error</md-icon>
                </div>
                <div ng-if="name==' '">
                    <md-icon class="material-icons">fiber_new</md-icon>
                </div>
            </p>
        </div>
        <md-button aria-label="open" class="md-primary" ui-sref="verifying({id:x.id})">
            Verify
        </md-button>
    </my-skillcard>
</div>
