<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card>
            <img ng-src="/home/images/tiles.jpg" class="md-card-image" alt="Washed Out">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Today
						<md-button class="md-icon-button">
							<md-icon class="material-icons">more_vert</md-icon>
						</md-button></span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="row" layout-align="center center">
                <div>
                    <h1>25</h1>
                </div>
            </md-card-content>
            <md-divider></md-divider>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button">
                    <md-icon class="material-icons">favorite</md-icon>
                </md-button>
                <md-button class="md-icon-button">
                    <md-icon class="material-icons">menu</md-icon>
                </md-button>
                <md-button class="md-icon-button">
                    <md-icon class="material-icons">mode_edit</md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card>
            <img ng-src="/home/images/tiles.jpg" class="md-card-image" alt="Washed Out">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Overdue
						<md-button class="md-icon-button">
							<md-icon class="material-icons">more_vert</md-icon>
						</md-button></span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="row" layout-align="center center">
                <div>
                    <h1>4</h1>
                </div>
            </md-card-content>
            <md-divider></md-divider>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button">
                    <md-icon class="material-icons">favorite</md-icon>
                </md-button>
                <md-button class="md-icon-button">
                    <md-icon class="material-icons">menu</md-icon>
                </md-button>
                <md-button class="md-icon-button">
                    <md-icon class="material-icons">mode_edit</md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card>
            <img ng-src="/home/images/tiles.jpg" class="md-card-image" alt="Washed Out">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Issues
						<md-button class="md-icon-button">
							<md-icon class="material-icons">more_vert</md-icon>
						</md-button></span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="row" layout-align="center center">
                <div>
                    <h1>32</h1>
                </div>
            </md-card-content>
            <md-divider></md-divider>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button">
                    <md-icon class="material-icons">favorite</md-icon>
                </md-button>
                <md-button class="md-icon-button">
                    <md-icon class="material-icons">menu</md-icon>
                </md-button>
                <md-button class="md-icon-button">
                    <md-icon class="material-icons">mode_edit</md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card>
            <img ng-src="/home/images/tiles.jpg" class="md-card-image" alt="Washed Out">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Features
						<md-button class="md-icon-button">
							<md-icon class="material-icons">more_vert</md-icon>
						</md-button></span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="row" layout-align="center center">
                <div>
                    <h1>40</h1>
                </div>
            </md-card-content>
            <md-divider></md-divider>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button">
                    <md-icon class="material-icons">favorite</md-icon>
                </md-button>
                <md-button class="md-icon-button">
                    <md-icon class="material-icons">menu</md-icon>
                </md-button>
                <md-button class="md-icon-button">
                    <md-icon class="material-icons">mode_edit</md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>
<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column" flex>
        <md-card>
            <!-- <img ng-src="../img/tiles.jpg" class="md-card-image" alt="Washed Out"> -->
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Task Distribution
						<md-button class="md-icon-button">
							<md-icon class="material-icons">more_vert</md-icon>
						</md-button></span>
                </md-card-title-text>
            </md-card-title>
            <md-divider></md-divider>
            <md-card-content layout="row" layout-align="center center">
                <div flex-xs flex-gt-xs="50" layout="column">
                    <img ng-src="/home/images/stats.png" class="md-card-image" alt="Washed Out">
                </div>
            </md-card-content>
            <md-divider></md-divider>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button">
                    <md-icon class="material-icons">favorite</md-icon>
                </md-button>
                <md-button class="md-icon-button">
                    <md-icon class="material-icons">menu</md-icon>
                </md-button>
                <md-button class="md-icon-button">
                    <md-icon class="material-icons">mode_edit</md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div flex-xs flex-gt-xs="50" layout="column" flex>
        <md-card>
            <!-- <img ng-src="../img/tiles.jpg" class="md-card-image" alt="Washed Out"> -->
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Schedule
						<md-button class="md-icon-button">
							<md-icon class="material-icons">more_vert</md-icon>
						</md-button></span>
                </md-card-title-text>
            </md-card-title>
            <md-divider></md-divider>
            <md-card-content>
                <md-list>
                    <md-list-item>
                        <div layout="row">
                            <h4>Group Meeting</h4></div>
                        <div layout="row"><span class="secondary-text">In 32 minutes,Room 1B</span></div>
                    </md-list-item>
                    <md-list-item>
                        <div>
                            <h4>Coffee Break</h4></div>
                        <div><span class="secondary-text">10:30 AM</span></div>
                    </md-list-item>
                    <md-list-item>
                        <div>
                            <h4>Public Beta Release</h4></div>
                        <div><span class="secondary-text">11:00 AM</span></div>
                    </md-list-item>
                    <md-list-item>
                        <div>
                            <h4>Lunch</h4></div>
                        <div><span class="secondary-text">12:30 PM</span></div>
                    </md-list-item>
                    <md-list-item>
                        <div>
                            <h4>Dinner with Manager</h4></div>
                        <div><span class="secondary-text">17:30 PM</span></div>
                    </md-list-item>
                    <md-list-item>
                        <div>
                            <h4>Jane's Birthday Party</h4></div>
                        <div><span class="secondary-text">19:30 PM</span></div>
                    </md-list-item>
                </md-list>
            </md-card-content>
            <md-divider></md-divider>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button">
                    <md-icon class="material-icons">favorite</md-icon>
                </md-button>
                <md-button class="md-icon-button">
                    <md-icon class="material-icons">menu</md-icon>
                </md-button>
                <md-button class="md-icon-button">
                    <md-icon class="material-icons">mode_edit</md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>
