<div layout="column">
    <md-toolbar class="md-hue-2">
        <h1 class="md-toolbar-tools">SideNav Contents</h1>
    </md-toolbar>
    <md-content layout='column' layout-align="start">
        <md-list>
            <md-list-item>
                <!-- ng-repeat="x in response track by $index" -->
                <!-- <a href="#">{{response.first}}</a> -->
                <p>You have no new notifications</p>
            </md-list-item>
            <!-- <md-divider></md-divider>
			<md-list-item>
			<a href="#">{{response.second}}</a>
			</md-list-item> -->
        </md-list>
        <!-- <p>My SideNav</p> -->
    </md-content>
</div>
